@import "styles/util.scss";

.index{
  header{
    font-size: 24px;
    text-align: center;
    padding: 40px;
  }
  .block1{
    background: #003333;
    font-size: 24px;
    text-align: center;
    color: #316ccb;
    height: 40vh;
    line-height: 100%;
    p{
      color: white;
      font-size: 18px;
    }
    padding: 40px;
  }
  footer{
    background: #999966;
    font-size: 12px;
    text-align: center;
    padding: 40px;
  }
}