@import "styles/util.scss";

.index{
  color: #fff;
  line-height: 1.5;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  .item{
    width: 120px;
    height: 80px;
    border-radius: 20px;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    box-shadow: 0px 0px 0px 1px #6664;
    margin: 20px;
    &.active{
      color: #316ccb;
      cursor: pointer;
    }
  }
}