@import "styles/util.scss";

.share{
  h3 {
    text-align: center;
    color: #DAF7A6;
    padding: 14px;
    margin:0;
    &.Connecting {
      color: #C70039;
    }
  }
  .shareArea {
    height: calc(100vh - 52px);
  }
  textarea{
    border: none;
    resize: none;
    color: white;
    background: #CC6666;
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 14px;
  }
}