@import "styles/util.scss";

.share{
  h3 {
    text-align: center;
    color: #DAF7A6;
    padding: 14px;
    margin:0;
    &.Connecting {
      color: #C70039;
    }
    background: #141414;
  }
  .shareArea {
    height: calc(100vh - 52px);
  }
  textarea{
    border: none;
    resize: none;
    color: white;
    background: black;
    width: 100%;
    height: 100%;
    font-size: 22px;
    padding: 14px;
    font-family: fantasy;
    animation: heart infinite 3s linear;
  }
  @keyframes heart {
    0% {
      box-shadow: 0px 0px 0px 1px #fff3;
    }
    50% {
      box-shadow: 0px 0px 0px 0px #fff3;
    }
    100% {
      box-shadow: 0px 0px 0px 1px #fff3;
    }
  }
}